<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>6AC398FCD33B45A40604858B3FED3792</string>
            <key>code2</key>
            <string>60DEE0338700F26EF78F6DED6100E2FC</string>
            <key>code3</key>
            <string>A878A187A21B119DC388414BE085B7DB</string>
            <key>code4</key>
            <string>1DFE8D51A219DC10814AF90E4AF9C664</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>url</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>websocketurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>108989369</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>172249065902660776</string>
            <key>package_name</key>
            <string>com.project.VoiceChatApp</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>260086000247073340</string>
            <key>product_id</key>
            <string>388421841221632597</string>
            <key>client_id</key>
            <string>1225280512210259520</string>
            <key>client_secret</key>
            <string>[!00C485D158EC80ED1378CC9C40E7A6FD6B7FE91C9EEA50DB6D7A8CDDC2D5A41D29AD672212A03374184A72A7A16E070BFE865CEC68DE7C5277EE78F0925992F1E146D6EC989612AEA14EB0D162DB02F0EBE90CFFBAA9E3F206150EB101C9587095]</string>
            <key>project_id</key>
            <string>388421841221632597</string>
            <key>app_id</key>
            <string>172249065902660776</string>
            <key>api_key</key>
            <string>DAEDAKW1IG0AR+z0E+sdlZU69aj2xzGVuEkiHOfwDfHgB7+uK9a8c9jr1prwvOCHnDyY3R8qzAi3lomHP3Cqu06TWkJU3IZviKNANA==</string>
            <key>package_name</key>
            <string>com.project.VoiceChatApp</string>
        </dict>
        <key>service</key>
        <dict>
            <key>edukit</key>
            <dict>
                <key>dh_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
                <key>edu_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
            </dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drcn.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
            </dict>
        </dict>
        <key>region</key>
        <string>CN</string>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.project.VoiceChatApp</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!0037BDA4A8389EFB01AB556BB0F232DFBB2D9D067AA7C70B37E3598EAF2D9FB7D160D105556FADA1FEBC0E1791E15F6E37B1F85CAE956FFAAA407B07B76D176AD98C3444EA496B8F4D7A2A84D60CBCE370CBEAC8217FA0FF33651DFB4102264462]</string>
                    <key>app_id</key>
                    <string>172249065902660776</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>A01C8815DF3ABDF7E9C7BE1BEBFBFFF8CF322EB6AB5694B9A1C6BD7DFA2C77BC</string>
                    <key>code2</key>
                    <string>0A56F6D0F0A82FF0BDF16A0C3B65839007E8C38FB546B1907BD7511EE7961988</string>
                    <key>code3</key>
                    <string>3D665415E4FA52B0C5DBE453B3B7EB7E1724ED6B5DAC9C7EE7B23888DC4BF591</string>
                    <key>code4</key>
                    <string>A6AECA8FF40F24DC2F3F231A207F26DF</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
